/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

#userTable {
  border-collapse: collapse;
  text-align: center;
  border: 2px solid #333333;
}

#userTable th {
  padding: 5px;
  background-color: rgb(56, 56, 56);
  color: white;
}

#userTable th:nth-child(1) {
  width: 40px;
}

#userTable th:nth-child(2) {
  width: 140px;
}

#userTable th:nth-child(3) {
  width: 250px;
}

#userTable th:nth-child(4) {
  width: 200px;
}

#userTable th:nth-child(5) {
  width: 200px;
}

#userTable th:nth-child(6) {
  width: 150px;
}

#userTable th:nth-child(7) {
  width: 40px;
}

#userTable th:nth-child(8) {
  width: 40px;
}

#userTable td {
  padding: 3px;
  background-color: rgb(129, 129, 129);
  color: rgb(168, 221, 208);
  font-size: 15px;
  line-height: 2;
}

.name_item {
  cursor: pointer;
}

.email_item {
  cursor: pointer;
}

.mod_area {
  width: 99%;
  height: 100%;
  outline: none;
  border: none;
  background-color: rgb(129, 129, 129);
  color: rgb(168, 221, 208);
  text-align: center;
  font-size: 15px;
}

.delete_button > i {
  color: #7e0303;
  cursor: pointer;
}

.send_button > i {
  color: greenyellow;
  cursor: pointer;
}
